.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

h3 {
    font-size: 2em
}
li {
    list-style-type: upper-alpha;
    margin-bottom: 30px; 
    font-size: 2em;
    cursor: pointer
}
button {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quizCont {
    border-radius: 10px;
    border: 2px dashed black;
    padding: 50px;
}

#result {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 20px
}